.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  padding: 1rem;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  overflow: hidden;
  margin: 1rem;
}

td,
th {
  border-top: 1px solid #ecf0f1;
  padding: 1rem;
}

th {
  background-color: #4ecdc4;
}

tr:nth-of-type(even) td {
  background-color: lighten(#4ecdc4, 35%);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.btnContainer {
  display: flex;
  gap: 0.5rem;
}
button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  background-color: #4ecdc4;
  color: #fff;
}

.errorMsg {
  color: red;
  display: none;
}
